@import url('../global.css');

h1 {
    letter-spacing: -.6px;
    font-size: 40px;
    line-height: 48px;
    font-weight: 500;
    color: #171a20;
}

.header-section {
    -webkit-padding-before: 12vh;
    padding-top: 12vh;
    text-align: center;
}

.header-lower {
    display: block;
    margin-top: 5px;
}

.header-upper {
    display: block;
    margin-top: 4px;
}

.plaid {
    font-family: 'Gotham Light',-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    font-size: 17px;
    line-height: 17px;
}

.sectionModalS2-h2 {
    text-align: center;
    color: #fff;
    margin-top: 6vh;
}

/* Backgroud HOME PAGE */
.sectionModalS1 {
    background-image:url('../img/ms-main-hero-desktop.jpeg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position-y: 50%;
    background-position-x: 50%;
    height:100vh;
}

.sectionModalS2 {
    background-image:url('../img/MS-Interior-Hero-Desktop.jpeg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position-y: 50%;
    background-position-x: 50%;
    height:100vh;
}

.sectionModalS3 {
    background-color: #000;
    height:100vh;
}

.slider {
    display: block;
    width: 90vw;
    margin: auto;
    margin-top: 50px;
    position: relative;
}

.slider img {
    margin: auto;
    height: 100%;
    width: 100%;
    vertical-align: top;
}

.mySlides {
    display:none
}

.left, .right, .badge {
    cursor:pointer;
    color: #fff;
    padding: 20px;
    border-block-color: #fff;
    border: 2px solid;
}
.dots {
    width: 100%;
    margin-top: 20px;
}

.dots-fill {
    background-color: #fff;
}

.arrows {
    width: 100%;
    margin-top: 20px;
}
.center {
    text-align: center;
}
.display-bottommiddle {
    position: absolute;
    top: 20vh;
    width: 100%;
    z-index: 9;
}

.left {
    float: left;
    margin-left: 6vw;
}

.right {
    float: right;
    margin-right: 6vw;
}

.badge1 {
    margin-left: 200px;
}

.badge {
    color: #fff;
    padding: 4px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-right: 10px;
}


/* SelectionModel 1 Footer */

.footer-ModelS {
    position: relative;
    min-width: 100%;
}

.footer-row {
    display: flex;
    justify-content: center;
    margin-top: 70vh;
}

.padding {
    padding: 40px;
}

.button-order {
    min-width: 0;
    padding: 8px 40px;
    border: 3px solid #fff;
    background-color: transparent;
}


.s2-head {
    padding-bottom: 0;
    margin-bottom: -2px;
}

.tds-text--h2 {
    letter-spacing: -.5px;
    font-size: 28px;
    line-height: 36px;
}

.tds-text--caption {
    font-size: 12px;
    line-height: 18px;
}

.tds-text--white {
    color: #fff!important;
}

.fineprint {
    line-height: 18px;
}
