@import url('../global.css');

h1 {
    letter-spacing: -.6px;
    font-size: 40px;
    line-height: 48px;
    font-weight: 500;
    color: #171a20;
}

.header-section {
    padding-top: 12vh;
    text-align: center;
}

.header-lower {
    display: block;
    margin-top: 5px;
}

.header-upper {
    display: block;
    margin-top: 4px;
}

.main {
    background-color: #000;
}

.plaid {
    font-family: 'Gotham Light',-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    font-size: 17px;
    line-height: 17px;
}

.sectionModalS2-h2 {
    text-align: center;
    color: #fff;
    margin-top: 6vh;
}

/* Backgroud HOME PAGE */
.sectionModalS1 {
    background-image:url('../img/ms-main-hero-desktop.jpeg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position-y: 50%;
    background-position-x: 50%;
    height: 100vh;
}

.sectionModalS2 {
    background-image:url('../img/MS-Interior-Hero-Desktop.jpeg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position-y: 50%;
    background-position-x: 50%;
}

.sectionModalS3 {
    background-color: #000;
}

.sectionModalS4 {
    background-color: #000;
}

.sectionModalS5 {
    background-color: #fff;
    height: 100vh;
}

.sectionModalS5-img {
    background-image:url('../img/MS-Performance-Hero-Desktop_.jpeg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position-y: 50%;
    background-position-x: 50%;
    display: inline-table;
    height: 60vh;
    width: 100vw;
}

.sectionModalS5-text {
    line-height: 21px;
    font-size: 14px;
    max-width: 75ch;
    margin-left: 8vw;
    margin-right: 1vw;
}

.sectionModalS5-button {
    min-width: 0;
    padding: 8px 40px;
    border: 3px solid #000;
    background-color: transparent;
    color: #000;
}

.sectionModalS6 {
    background-color: #f4f4f4;
}

.sectionModalS6-img {
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 2vh;

}

.sectionModalS6-header {
    margin-left: 25vw;
    margin-right: 25vh;
}

.sectionModalS6-h2 {
    padding-bottom: 2vh;
    font-weight: 500;
    color: #171a20;
    padding-top: 6vh;
}

.sectionModalS6-Li-left {
    float: left;
    width: 50%;
    margin-right: 1vw;
    align-self: baseline;
}

.sectionModalS6-Li-right {
    float: right;
    width: 50%;
    margin-left: 1vw;
    align-self: baseline;
}

.sectionModalS6-footer {
    margin-left: 22vw;
    margin-right: 22vw;
    padding-top: 3vh;   
}

.sectionModalS6-Button {
    padding: 20px;
    border: 3px solid #393c41;
    text-align: inherit;
}

.sectionModalS6-h3 {
    color: #171a20;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: -.6px;
    margin-bottom: 16px;
}

.sectionModalS6-p {
    color: #393c41;
    font-size: 12px;
    line-height: 18px;
    max-width: 75ch;
}

.sectionModalS6-specs-left {
    display: flex;
    justify-content: space-evenly;
    padding-top: 35px;
}

.sectionModalS6-specs {
    display: flex;
    justify-content: space-evenly;
    padding-top: 19px;
}

.sectionModalS6-accelaration    {
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
    width: 100%;
    margin-bottom: 0;
}

.sectionModalS6-title {
    letter-spacing: -.6px;
    font-size: 24px;
    color: #171a20;
    font-weight: 500;
}

.sectionModalS6-h6 {
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    color: #5c5e62;
    padding: 10vh;
}

.sectionModalS7 {
   background-color: #f4f4f4;
   width: 100%;
}

.sectionModalS7-img {
    background-image:url('../img/MS-Exterior-Hero-Desktop_.jpeg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position-y: 50%;
    background-position-x: 50%;
    display: inline-table;
    height: 60vh;
    width: 100vw;
}

.sectionModalS7-footer {
    display: flex;
    margin-left: 35vh;
    padding: 3vh;
}

.sectionModalS7-left {
    width: 18%;
}

.sectionModalS7-right {
    flex-grow: 1;
}

.sectionModalS7-text {
    line-height: 21px;
    font-size: 14px;
    max-width: 75ch;
    margin-left: 1vw;
    margin-right: 1vw;
}

.sectionModalS7-flex-end {
    align-self: flex-end;
}

.sectionModalS8 {
    background-color: #000;
}

.sectionModalS9 {
    background-color: #fff;
    height: 100vh;
}

.sectionModalS9-box {
    display: flex;
}

.sectionModalS9-left {
    background-image: url('../img/MS-Range-Hero-Desktop_.jpeg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position-y: 50%;
    background-position-x: 50%;
    height: 100vh;
    width: 150%;
}

.sectionModalS9-right {
    flex-grow: 1;
}

.sectionModalS9-text {
    line-height: 21px;
    font-size: 14px;
    max-width: 75ch;
}

.sectionModalS9-padding {
    padding-top: 5vh;
    padding-left: 2vw;
    padding-right: 4vw;
}

.sectionModalS9-button-Margin-top {
    margin-top: 50vh;
}

.sectionModalS9-footer-row {
    display: flex;
    justify-content: center;
    margin-top: 55vh;
    text-align: center;
    padding: 100px;
}

.s2 {
    font-weight: 500;
    color: #000;
    letter-spacing: -.5px;
    font-size: 17px;
    line-height: 17px;
    padding: 0;
}

.flex-item {
    padding-top: 25px;
    padding-left: 20vw;
}

.scrim-black {
    background-color: #000;
    color: #f4f4f4;
    margin-left: 8vw;
    margin-right: 8vw;
}

.vertical_padding {
    padding-block-end: 16px !important;
    padding-block-start: 16px !important;
}

.flex {
    display: flex;
}

.imgWidth {
    width: 30vw;
}

.box-text-left {
    margin-left: 5vw;
    padding: 65px;
    width: 50%;
}

.box-text-right {
    margin-left: 5vw;
    width: 50%;
    padding: 65px;
}

.myH4 {
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    padding-top: 8px;
    padding-bottom: 16px;
    letter-spacing: -.4px;
}

.myP {
    padding-bottom: 14px;
    font-size: 14px;
    line-height: 21px;
    max-width: 75ch;
}

.slider {
    display: block;
    width: 75vw;
    margin: auto;
    margin-top: 50px;
    position: relative;
}

.slider img {
    margin: auto;
    height: 100%;
    width: 100%;
    vertical-align: top;
}

.mySlides {
    display:none
}

.leftArrow, .rightArrow, .badge {
    cursor:pointer;
    color: #fff;
    padding: 20px;
    border-block-color: #fff;
    border: 2px solid;
}

.dots {
    width: 100%;
    margin-top: 20px;
}

.dots-fill {
    background-color: #fff;
}

.center {
    text-align: center;
}

.display-bottommiddle {
    position: absolute;
    top: 35vh;
    width: 100%;
    z-index: 9;
}

.leftArrow {
    float: left;
    margin-left: 6vw;
}

.rightArrow {
    float: right;
    margin-right: 6vw;
}

.badgeFirst {
    margin-left: 200px;
}

.badge {
    color: #fff;
    padding: 4px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-right: 10px;
}

.text {
    line-height: 21px;
    font-size: 14px;
    max-width: 75ch;
    color: #f4f4f4;
    padding-bottom: 14px;
    margin-left: 24vw;
    margin-right: 11vw;
}

.title {
    font-size: 24px;
    line-height: 1.25;
    color: #fff;
    margin-left: 24vw;
    margin-bottom: 20px;
}

/* SelectionModel 1 Footer */

.footer-ModelS {
    position: relative;
    min-width: 100%;
}

.footer-row {
    display: flex;
    justify-content: center;
    margin-top: 55vh;
}

.padding {
    padding: 40px;
}

.button-order {
    min-width: 0;
    padding: 8px 40px;
    border: 3px solid #fff;
    background-color: transparent;
}

.s2-head {
    padding-bottom: 0;
    margin-bottom: -2px;
}

.text-h2 {
    letter-spacing: -.5px;
    font-size: 28px;
    line-height: 36px;
    margin-top: 10px;
}

.text-caption {
    font-size: 12px;
    line-height: 18px;
}

.text-white {
    color: #fff!important;
}
.text-black {
    color: #000!important;
}
.fineprint {
    line-height: 18px;
}
